<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>
    <main>
        <h1>HomePage</h1>
        <ul>
            <% if (results.length) { %>
                <p> Total of Book: <%= results.length %></p>

              <% results.forEach(element=> { %>
                <li>
                    <img src=" <%= element.image %>" alt="">
                  <h4>
                    <%= element.title %>
                  </h4>
                  <p>
                    <%= element.author %>
                  </p>
                  <a href='/books/<%= element.id %>' target="_blank" rel="noopener noreferrer">View details</a>
                  <p><%= element.description %></p>
                  <p><%= element.isbn %></p>
                </li>
                <% }); %>
                  <% } else { %>
                    <p>No data was found</p>
                    <% } %>
          </ul>
    </main>
    <%- include('../../layout/footer') %>
</body>
</html>